
<ul>
  <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
    <a routerLink="/">
      <svg alt="Books icon">
        <use xlink:href="assets/sprite.svg#icon-books"></use>
      </svg>
      <span>Books</span>
    </a>
  </li>
  <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
    <a routerLink="/wishlist">
      <svg alt="Wishlist icon">
        <use xlink:href="assets/sprite.svg#icon-heart"></use>
      </svg>
      <span>Wishlist</span>
    </a>
  </li>
</ul>